/***  Google Font Family  ***/
* {
    font-family: 'Noto Serif', 'Calisto MT', serif;    
}

/***  Background image ***/
.hero {
    background-image: url(../images/office1.jpg); 
    position: relative;  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;       
}


/***  Employee cards style  ***/
.card {
    border-radius: 5%;
    background-color:gray !important;
    border-color:#343a40!important;
    border: 5px solid;
    width: 16rem !important;    
}

.card-header
hr {
    background-color:rgb(110, 110, 110) !important;
    border-width: 1px;
}

.card-header {
    justify-content: center!important;
}

/*** Fixed footer ***/
.footer {   
    color: white; 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 80% !important;
}
