/********  Google Font Family  ********/
* {
    font-family: 'Noto Serif', 'Calisto MT', serif;    
}

/********  Background image with opacity value  ********/
.hero {
    position: relative; 
    height:100%;
    width: 100%;        
}

.hero:before {    
    content: "";
    background-image: url(../images/office1.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;    
    background-color: #464646;
}


.card {
    border-radius: 5%;
    background-color:gray !important;
    border-color:#343a40!important;
    border: 5px solid;
    width: 16rem !important;    
}

.card-header
hr {
    background-color:rgb(110, 110, 110) !important;
    border-width: 2px;
}


.card-header {
    justify-content: center!important;
}

.footer { 
    width: 100%;   
    color: white; 
    position: relative;  
    display: block;
    opacity: 1;
}
