<div class="card employee-card col-xs-2 mx-2 mb-2">
    <div class="card-header text-light">
        <h2 class="card-title text-center">{{ name }}</h2>
        <hr>
        <h4 class="card-title text-center"><i class="fas fa-glasses text-info mr-2"></i>{{ role }}</h4>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item"><strong>ID:</strong> {{ id }}</li>
            <li class="list-group-item"><strong>Email:</strong> <a href="mailto:{{ email }}">{{ email }}</a></li>
            <li class="list-group-item"><strong>GitHub:</strong> <a href="https://github.com/{{ github }}" target="_blank" rel="noopener noreferrer">{{ github }}</a></li>
        </ul>
    </div>
</div>
